.playlist-drawer-content{
    width: 17%;
}

.playlist-container{
    height: 100%;
}

.playlist-logout-button{
    margin-left: 83%;
}

.playlist-song-id{
    margin-right: 10%;
}

.playlist-song-name{
    margin-right: 65%;
    width: 200px;
}

.playlist-song-card{
    display: flex;
    flex-direction: row;
}