.dashboard-drawer-content{
    width: 17%;
}

.dashboard-container{
    height: 100%;
}

.dashboard-search-bar{
    margin-left: 25%;
}

.dashboard-logout-button{
    margin-left: 43%;
}

.dashboard-song-id{
    margin-right: 10%;
}

.dashboard-song-name{
    margin-right: 70%;
    width: 200px;
}

.dashboard-song-card{
    display: flex;
    flex-direction: row;
}